<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <div id="locales"><%= render_locales(@factor) %></div>
  <div>Written by Adam Wiggins</div>
  <div>Last updated Jan 30, 2012</div>
  <div><a href="https://github.com/heroku/12factor">Sourcecode</a></div>
  <div><a href="/12factor.epub">Download ePub Book</a></div>
</footer>
